[submodule "flatware/tools/wasi-headers/WASI"]
	path = flatware/tools/wasi-headers/WASI
	url = https://github.com/WebAssembly/WASI
[submodule "src/util/PicoSHA2"]
	path = src/util/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
